node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

/src/generated/**
.vercel

# Playwright
e2e/playwright-report/
test-results/

# Playwright saved auth session
e2e/.auth/
