@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-mono: "Major Mono Display", monospace;
  --font-serif: "Zilla Slab", sans-serif;
  --animate-gradient: gradient 15s ease infinite;
  --animate-grow: grow 7s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@utility animation-delay-2000 {
  animation-delay: 2s;
}

@utility animation-delay-4000 {
  animation-delay: 4s;
}

@utility animation-delay-6000 {
  animation-delay: 6s;
}

@utility animation-delay-8000 {
  animation-delay: 8s;
}

:root {
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}
